<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031248568877-22pcor4ebr7snjfp38j7l6ppa34bh1pf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031248568877-22pcor4ebr7snjfp38j7l6ppa34bh1pf</string>
	<key>API_KEY</key>
	<string>AIzaSyA04YDWYJ8wyhJVa3mUdWT91Gb-pUHK8uA</string>
	<key>GCM_SENDER_ID</key>
	<string>1031248568877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialapp</string>
	<key>PROJECT_ID</key>
	<string>socialapp-59a7a</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-59a7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031248568877:ios:700ecfdcd9abf804610ea4</string>
	<key>DATABASE_URL</key>
	<string>https://socialapp-59a7a.firebaseio.com</string>
</dict>
</plist>